@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(246, 249, 255, 1);
  overflow-x: hidden;
}

.App {
  display: flex;
}

.right {
  width: 100%;
}
