.navbar {
  background-color: #fff;
  height: 72px;
  width: 100%;
  border-bottom: 1px solid rgba(218, 230, 255, 1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding: 0 48px;
  position: fixed;
  z-index: 999;
}

.free-trial {
  display: flex;
  align-items: center;
  gap: 8px;
}

.free-trial p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
